streamlit>=1.28
Django
numpy==1.26.4
scikit-learn==1.2.2
category-encoders==1.3.0 
sklearn
plotly
matplotlib
datetime
ibm_boto3

alabaster                     
altair                         
altgraph                       
asgiref                         
asttokens                       
astunparse                     
attrs                          
babel                          
blinker                        
bokeh                         
boto3                          
botocore                       
bounded-pool-executor          
branca                         
cachetools                               
certifi                        
charset-normalizer                                    
MarkupSafe                   
matplotlib                     
numpy                          
plotly                         
scikit-learn                
scipy                          
seaborn                        
setuptools                     
 